# Shadow Configuration File
# Written by Aaron Blakely

@Shadow

[IRC]
bot.host	   = [irc.bbsn.ca:6667]
bot.nick	   = "Light"
bot.name	   = "Power"
bot.channels   = [#chan1,#chan2,#etc]

# bot.cmdchan - Bot logging/control channel
bot.cmdchan  = "#botcmd"

[Bot]
system.daemonize	= no
system.modules      = [RSS,ChanOP,AutoID]

[Admin]
# Comma separated list of hostnames (wildcards are accepted)
bot.admins = [*!*@example.org,*!*@netadmin.bbsn.ca]
